---
import { getNavbarItems } from "../../scripts/config/navigation/getNavbarItems";
import "@cubing/icons";
import DetachedMenu from "../ui/DetachedMenu.astro";

let pages = getNavbarItems()

let sheets = { name: "Old", href: "https://docs.google.com/spreadsheets/d/1L0iR5AyRh2sTWymHSD2MiTJXzl8IoxGzyuRgqEhttSs/edit#gid=1313953242", external: true, }
let github = { name: "Sheets", href: "https://github.com/trexrush/algs", external: true, }
---

<nav class="flex text-xl">
  <DetachedMenu label={"📂MENU"} menuAlign="top-16 left-3">
      <a href="/algs/" class="text-xl font-bold">Home</a>
      {pages.map(page => (
        <a href={'/algs/' + page.path} class={`select-none overflow-hidden whitespace-nowrap ${page.icon}`}>{' '}{page.name}</a>
      ))}
      <a href={sheets.href} class="p-1 select-none text-center whitespace-nowrap">
        {sheets.name}
      </a>
      <a href={github.href} class="p-1 select-none text-center whitespace-nowrap">
        <i class="bi bi-github"></i>
      </a>
  </DetachedMenu>
</nav>

<style lang="postcss">
  button.cubing-icon, div.cubing-icon {
    @apply transform hover:-rotate-6 hover:opacity-90 hover:scale-150 
    transition-all duration-200 ease-in-out will-change-transform scale-125
    text-3xl md:text-xl py-0
  }
  input:checked ~ label > .cubing-icon {
    @apply -rotate-6 opacity-90 scale-150 
  }
</style>

<script>
  // Find all buttons with the `alert` class on the page.
  const dialog = document.querySelector('dialog');
  const buttonInfo = document.getElementById('showInfo')
  const innerInfo = document.getElementById('innerInfo');

  buttonInfo?.addEventListener('click', () => dialog?.showModal());
  dialog?.addEventListener('click', () => dialog?.close());
  innerInfo?.addEventListener('click', e => e.stopPropagation())
</script>
