---
import Info from "./Info.astro";
import { NavbarRoutes } from "../scripts/routes";
import "@cubing/icons";

let pages = NavbarRoutes

let sheets = { name: "Old", href: "https://docs.google.com/spreadsheets/d/1L0iR5AyRh2sTWymHSD2MiTJXzl8IoxGzyuRgqEhttSs/edit#gid=1313953242", external: true, }
let github = { name: "Sheets", href: "https://github.com/trexrush/algs", external: true, }
---
<div class="invisible">
  <dialog class="bg-transparent w-screen h-screen grid place-items-center backdrop:bg-stone-900/40 dark:text-white">
    <div id="innerInfo">
      <Info />
    </div>
  </dialog>
</div>

<!-- TODO: https://tailwindcss.com/docs/hover-focus-and-other-states#open-closed-state migrate from dodge checkbox to fake details EDIT: possible? or use smth else -->
<!-- DESKTOP -->
<nav class=" hidden md:flex items-baseline @container">
  <div class="bg div-line 
  flex w-fit items-center m-3 sticky top-0
  child:min-w-max child:py-1 child:px-4 rounded-md shadow-lg
  divide-x-2">
    <a href="/algs/" class="text-xl font-bold">Home</a>
    {pages.map((page) => (
      page.folder ?
      <div class="relative">
        <!-- LAYER 1 -->
        <input id={page.name} type="radio" name="menu" class="peer hidden" />
        <label for={page.name} class="select-none cursor-pointer font-bold peer-checked:text-yellow-400" >
          {page.icon ? <div class:list={page.icon} /> : page.name + "📂"}
        </label>
        <!-- MENU -->
        <div class="menu bg div-line hidden peer-checked:flex top-11 left-0 pr-2 rounded-md shadow-xl divide-y-2">
          {page.folder.map((subpage) => (
            <!-- LAYER 2 -->
            <div class="flex flex-row items-baseline gap-3">
              <a href={subpage.href} class="select-none p-2 mr-3 opacity-70 text-sm whitespace-nowrap">{subpage.icon ?? subpage.name}</a>
              {subpage.folder?.map((route) => (
                <!-- LAYER 3 -->
                <a href={route.href} class="font-bold whitespace-nowrap">{route.name}</a>
              ))}
            </div>
          ))}
        </div>
        <!-- / MENU -->
      </div>
      // ROUTE IN MAIN HEADER
      :  <a href={page.href} class="select-none overflow-hidden whitespace-nowrap">{page.name}</a>
    ))}
    <a href={sheets.href} class="p-1 select-none hidden @xl:block whitespace-nowrap">
      <i class="bi bi-table"></i>
      {sheets.name}
    </a>
    <a href={github.href} class="p-1 select-none hidden @lg:block whitespace-nowrap">
      <i class="bi bi-github"></i>
    </a>
  </div>
  <div id="showInfo" class="bg w-fit m-3 px-4 py-1 rounded-md shadow-lg cursor-pointer hidden @xl:block">
    ❓
  </div>
</nav>

<!-- MOBILE -->
<nav class="flex md:hidden text-xl">
  <!-- MENU BUTTON -->
  <details class="bg select-none rounded-md shadow-lg cursor-pointer m-3 p-2 w-fit font-bold" >
    <summary>MENU</summary>

  <!-- LAYER 1 CARD -->
    <div class="menu bg div-line flex top-16 left-3 justify-center rounded-md shadow-lg divide-y-2 p-1 child:py-2 child:px-1 min-w-min w-1">

      <a href="/algs/" class="text-xl font-bold">Home</a>
      {pages.map((page) => (
        page.folder ?
        <div class="relative">
          <!-- LAYER 1 -->
          <input id={page.name + "m"} type="radio" name="menu-mobile" class="peer hidden" />
          <label for={page.name + "m"} class="select-none cursor-pointer font-bold peer-checked:text-yellow-400" >
            {page.icon ? <div class:list={[page.icon, 'text-center']} /> : page.name + "📂"}
          </label>
          <!-- MENU -->
          <div class="menu bg div-line hidden peer-checked:flex top-2 left-[70px] pr-2 rounded-md shadow-lg divide-y-2">
            {page.folder.map((subpage) => (
              <!-- LAYER 2 -->
              <div class="flex flex-row items-baseline gap-3">
                <a href={subpage.href} class="select-none p-2 mr-3 opacity-70 text-sm whitespace-nowrap">{subpage.icon ?? subpage.name}</a>
                {subpage.folder?.map((route) => (
                  <!-- LAYER 3 -->
                  <a href={route.href} class="font-bold whitespace-nowrap">{route.name}</a>
                ))}
              </div>
            ))}
          </div>
          <!-- / MENU -->
        </div>
        // ROUTE IN MAIN HEADER
        :  <a href={page.href} class="select-none overflow-hidden whitespace-nowrap">{page.name}</a>
      ))}
      <a href={sheets.href} class="p-1 select-none text-center whitespace-nowrap">
        {sheets.name}
      </a>
      <a href={github.href} class="p-1 select-none text-center whitespace-nowrap">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </details>
  <div id="showInfo" class="bg w-fit m-3 px-4 py-1 rounded-md shadow-lg cursor-pointer hidden @xl:block">
    ❓
  </div>
</nav>

<style lang="postcss">
  button.cubing-icon, div.cubing-icon {
    @apply transform hover:-rotate-6 hover:opacity-90 hover:scale-150 
    transition-all duration-200 ease-in-out will-change-transform scale-125
    text-3xl md:text-xl py-0
  }
  input:checked ~ label > .cubing-icon {
    @apply -rotate-6 opacity-90 scale-150 
  }

  .menu {
    @apply absolute flex-col min-w-min w-fit z-40
  }
  .bg {
    @apply bg-stone-200 dark:bg-stone-800 border-2 dark:border-stone-900 border-stone-200/50
  }
  .div-line {
    @apply divide-stone-400/10 dark:divide-stone-600/10
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
</style>

<script>
  // Find all buttons with the `alert` class on the page.
  const dialog = document.querySelector('dialog');
  const buttonInfo = document.getElementById('showInfo')
  const innerInfo = document.getElementById('innerInfo');

  buttonInfo?.addEventListener('click', () => dialog?.showModal());
  dialog?.addEventListener('click', () => dialog?.close());
  innerInfo?.addEventListener('click', e => e.stopPropagation())
</script>
