---
import type { IOptions, ISet  } from "../scripts/types";
import VerticalCaseCard from "./VerticalCaseCard.svelte";

interface Props {
  set: ISet
  options: IOptions
  size: number
  recursiveCollapse?: boolean
}
const { set, options, size, recursiveCollapse } = Astro.props
---

<details open={recursiveCollapse ? false : true}
  class="flex flex-col justify-center items-center w-[95%] mb-5 rounded-xl shadow-xlbg-stone-900/[.07] dark:bg-stone-50/[.07]">
  <summary class="my-2 flex justify-center items-baseline gap-5 w-full select-none">
    <div class="text-xl sm:text-3xl font-bold hover:font-extrabold cursor-pointer">
      {set.name}
    </div>
    <span class="dark:text-stone-500 text-sm font-light cursor-pointer">
      {set.altNames ? 'AKA ' : ''}
    {set.altNames?.map((altName, i) => {
      return <span class="font-semibold text-lg">{altName + (i < set.altNames!.length! - 1 ? ", " : "")}</span>
    })}
    </span>
  </summary>

  <div class="w-full flex flex-col child:mb-5 items-center">
    {
      set.children && Object.entries(set.children)?.map(([k, setOrCase]) => (
        setOrCase.hasOwnProperty("algs") ?
          <VerticalCaseCard client:visible caso={setOrCase} options={options} size={size}/>
        :
          <Astro.self set={setOrCase} options={options} size={size} />
      ))
    }
  </div>
</details>