---
import Info from "../components/Info.astro";
import { NavbarRoutes } from "../scripts/routes";

let pages = NavbarRoutes

let sheets = { name: "GSheets", href: "https://docs.google.com/spreadsheets/d/1L0iR5AyRh2sTWymHSD2MiTJXzl8IoxGzyuRgqEhttSs/edit#gid=1313953242", external: true, }
let github = { name: "GitHub", href: "https://github.com/trexrush/algs", external: true, }
---
<div class="invisible">
  <dialog class="bg-transparent w-screen h-screen grid place-items-center backdrop:bg-stone-900/40 dark:text-white">
    <div id="innerInfo">
      <Info />
    </div>
  </dialog>
</div>

<!--  TODO: make dialog / popover --->
<!-- DESKTOP -->
<nav class="hidden md:flex items-baseline @container">
  <div class=" max-h-[36px] flex flex-wrap overflow-hidden w-fit items-baseline m-3 child:py-1 child:px-4
  rounded-md shadow-lg divide-x-2 divide-stone-400/10 dark:divide-stone-600/10 bg-stone-200 dark:bg-stone-800">
    <a href="/algs/" class="text-xl font-bold hover:font-extrabold relative">Home</a>
    {pages.map((page) => (
      page.folder ?
      <div class="relative p-2">
        <label for={page.name} class="select-none rounded-md shadow-lg bg-stone-200 dark:bg-stone-800 cursor-pointer w-fit font-bold" >{page.name} {"📂"}</label>
        <input id={page.name} type="checkbox" class="peer hidden" />
        <div class="hidden peer-checked:flex flex-col absolute top-10 left-0 w-4/5 
        text-center rounded-md shadow-lg divide-x-2 divide-stone-400/10 dark:divide-stone-600/10 bg-stone-200 dark:bg-stone-800">
          {page.folder.map((subpage) => (
            <a href={subpage.href} class="hover:font-semibold select-none p-2">{subpage.name}</a>
          ))}
        </div>
      </div>
      :
      <a href={page.href} class="hover:font-semibold select-none overflow-hidden">{page.name}</a>
      ))}
      <a href={sheets.href} class="hover:font-semibold p-1 select-none">
        <i class="bi bi-table"></i>
        {sheets.name} {sheets.external && "↗"}
      </a>
      <a href={github.href} class="hover:font-semibold p-1 select-none">
        <i class="bi bi-github"></i> {github.external && "↗"}
      </a>
  </div>
  <div id="showInfo" class="w-fit m-3 px-4 py-1 rounded-md shadow-lg bg-stone-200 dark:bg-stone-800 cursor-pointer hover:font-bold">
    ❓
  </div>
</nav>

<!-- MOBILE -->
<!-- TODO: NEST PAGES -->
<nav class="flex md:hidden text-xl">
  <label for="mobile-menu" class="select-none rounded-md shadow-lg bg-stone-200 dark:bg-stone-800 cursor-pointer m-3 p-2 w-fit font-bold" >MENU</label>
  <input id="mobile-menu" type="checkbox" class="peer hidden" />
  <div class="hidden peer-checked:flex flex-col absolute top-16 left-3 z-20 w-fit rounded-md shadow-lg divide-x-2 divide-stone-400/10 dark:divide-stone-600/10 bg-stone-200 dark:bg-stone-800">
    <a href="/algs/" class="text-xl font-bold hover:font-black p-1">Home</a>
    {pages.map((page) => (
      page.folder
      ? page.folder.map((subpage) => (
        <a href={subpage.href} class="hover:font-semibold p-1 select-none">{subpage.name}</a>
      ))
      : <a href={page.href} class="hover:font-semibold p-1 select-none">{page.name}</a>
      ))}
  </div>
  <div id="showInfo" class="w-fit m-3 px-4 py-2 rounded-md shadow-lg bg-stone-200 dark:bg-stone-800 cursor-pointer hover:font-bold">
    ❓
  </div>
</nav>



<script>
  // Find all buttons with the `alert` class on the page.
  const dialog = document.querySelector('dialog');
  const buttonInfo = document.getElementById('showInfo')
  const innerInfo = document.getElementById('innerInfo');

  buttonInfo?.addEventListener('click', () => dialog?.showModal());
  dialog?.addEventListener('click', () => dialog?.close());
  innerInfo?.addEventListener('click', e => e.stopPropagation())
</script>
